#about{
    background: #eeeeff;
    height:360px;
    padding:30px 0;
}
#about .wrap{
    width:800px;
    margin:0 auto;
}
#about .list{
    width:250px;
    height:300px;
    float:left;
    border:1px #EA3939 solid;
    font-size: 18px;
}
#about .list div{
    height:60px;
    line-height:60px;
    text-align:center;
    background: #0000ff;
    color:#fff;
}
#about .list li{
    height:40px;
    line-height:40px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #EA3939;
}
#about .content{
    margin-left:46px;
    width:500px;
    height:300px;
    float:left;
    border:1px #EA3939 solid;
}
#about .content div{
    display:none;
}
#about li.selected{
    background: #EA3939;
    color:#fff;
}
#about div.selected{
    display:block;
}